* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html,
body {
   overflow-x: hidden;
}
.header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   max-height: 4.8rem;
   background-color: white;
   padding: 10px 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   z-index: 99999;
}

.header img {
   height: 4rem;
}
nav {
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav__items__container {
   margin-right: 1.6rem;
}

.nav__items:hover {
   color: black;
   font-size: 1.2rem;
}
.nav__items {
   color: #eb6b40;
   transition: 1s;
   text-decoration: none;
   font-size: 1.5rem;
}
.outlet__container {
   flex-grow: 1;
}
.nav__dropdown__button {
   display: none;
}
@media only screen and (max-width: 480px) {
   .nav__items__container {
      display: none;
   }
   .nav__admin__button {
      display: none;
   }

   .nav__dropdown__button {
      display: flex;
   }
}

.nav__dropdown {
   position: fixed;
   z-index: 99999;
   top: 4.8rem;
   margin-bottom: 2rem;
}
.nav__dropdown__item {
   position: relative;
   width: 100vw;
   height: 4rem;
   background-color: #ffffff;
   z-index: 99999;
   display: flex;
   align-items: center;
   justify-content: center;
   border-bottom: 1px solid #eb6b40;
}
/*------------------Home-------------------*/
.home__main {
   margin-top: 4.8rem;
   width: 100vw;
   height: auto;
}
.hero__main {
   width: 100vw;
   margin-top: 13%;
   margin-bottom: 9%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}

.hero__information {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}
.hero__image__container img {
   width: 30vw;
   height: 30rem;

   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   margin-right: 9rem;
   border-radius: 50%;
}

.hero__information h1 {
   font-size: 4rem;
   margin-left: 7vw;
}
.hero__information__name {
   color: #eb6b40;
}
.hero__information button {
   width: fit-content;
   padding: 1rem;
   padding-left: 2rem;
   padding-right: 2rem;
   background-color: #eb6b40;
   color: black;
   font-size: large;
   font-weight: bolder;
   margin-left: 6.5rem;
   margin-top: 4rem;
   border-radius: 7px;
   border: none;
   transition: 0.5s;
}
.hero__information h3 {
   text-align: right;
   font-size: 2rem;
}
.hero__information button:focus {
   scale: 0.9;
   color: white;
}

/* --------------media queires for hero-------------------------*/

@media only screen and (max-width: 480px) {
   .hero__main {
      display: flex;
      flex-direction: column;
      margin-bottom: -3rem;
   }
   .hero__information {
      padding: 0;
      margin: 0;
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   .hero__information h1 {
      font-size: 2.4rem;
      line-height: 1.3;
      margin-left: 3rem;
      margin-right: 1.5vmax;
   }
   .hero__information h3 {
      line-height: 3;
      font-size: 1.3rem;
      text-align: left;
      margin-left: 3rem;
   }

   .hero__information button {
      margin-top: 2rem;
      margin-left: 35%;
      margin-bottom: 2rem;
   }
   .hero__image__container {
      margin-top: 2rem;
      width: 40%;
      height: 25vmax;
   }
   .hero__image__container img {
      width: 100%;
      height: 100%;
   }
}
@media screen and (min-width: 320px) and (max-width: 900px) and (orientation: landscape) {
   .hero__image__container {
      display: none;
   }
}
/* --------------------About----------------------*/

.about__main {
   width: 100vw;
   background-color: #eb6b4021;
   padding-top: 0.1rem;
   padding-bottom: 0.1rem;
}
.about__heading__container {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 3rem;
}
.about__heading__icon {
   margin-right: 2vw;
}
.about__heading__content {
   font-size: 30px;
}

.about__information__container {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   margin-top: 5rem;
   margin-bottom: 7rem;
}
.about__image__container {
   display: flex;
   align-items: center;
   justify-content: center;
}
.about__image__card {
   width: 22rem;
   height: 25em;

   margin-left: 10vw;
   box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.6), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 12px;
}

.about__image__card img {
   width: 100%;
   height: 100%;
   object-fit: fill;
   border-radius: 12px;
}

.about__description__container {
   width: 30%;
   margin-right: 10vw;
}
.about__description__container h2 {
   line-height: 1;
   font-size: 30px;
}
.about__description__container h3 {
   margin-top: 20px;
}
.about__description__container p {
   margin-top: 20px;
   font-family: Arial, Helvetica, sans-serif;
}
.about__description__info {
   line-height: 1;
}
.about__description__container button {
   width: fit-content;
   padding: 1rem;
   border-radius: 7px;
   background-color: #eb6b40;
   border: none;
   color: black;
   font-size: large;
   font-weight: bolder;
   margin-top: 3vh;
}

@media only screen and (max-width: 480px) {
   .about__main {
      display: flex;
      flex-direction: column;
      margin-top: 170px;
      align-items: center;
   }
   .about__information__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 1rem;
      padding-right: 1rem;
      gap: 3rem;
      margin-bottom: 3rem;
   }
   .about__image__container {
      width: 70vw;
   }
   .about__image__card {
      margin-left: 0;
   }
   .about__description__container {
      width: 70%;
      margin-right: 0;
   }
   .about__description__button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
   }
}
@media screen and (min-width: 320px) and (max-width: 900px) and (orientation: landscape) {
   .about__main {
      padding-top: 2rem;
      padding-bottom: 2rem;
   }
   .about__information__container {
      gap: 2rem;
   }
}

/*------------------ Projects --------------*/
.projects__main {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   flex: 1;
   width: 100%;
   flex-direction: column;
   height: auto;
   margin-top: 2%;
}
.projects__heading {
   color: #eb6b40;
}
.project__filter {
   color: #eb6b40;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap-reverse;
   margin: 2rem 0 2rem;
}
.projects__filter__item {
   padding: 0.5rem 1rem;
   border-radius: 0.5rem;
   background-color: #eb6b40;
   color: #fff;
   font-weight: 800;
   cursor: pointer;
   transition: all 0.3s ease;
   margin: 0.5rem;
}
.projects__filter__item:hover {
   background-color: #000;
}
.item-active {
   background-color: #000;
   color: #fff;
}

.project__flex {
   display: flex;
   align-items: center;
   justify-content: center;
}
.work__portfolio {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}
.work__item {
   width: 270px;
   flex-direction: column;
   margin: 1rem;
   padding: 1rem;
   cursor: pointer;
   border-radius: 0.5rem;
   background-color: #eb6b400c;
   color: #000;
   transition: all 0.3s ease;
}
.work__item:hover {
   box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.work__img {
   width: 100%;
   height: 230px;
   position: relative;
}
.work__img img {
   width: 100%;
   height: 100%;
   border-radius: 0.5rem;
   object-fit: cover;
}
.work__hover {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);

   border-radius: 0.5rem;
   opacity: 0;
   transition: all 0.3 ease;
}
.work__hover div {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: rgba(0, 0, 0, 0.5);
   color: #fff;
   margin: 1rem;
   font-weight: 800;
   cursor: pointer;
   transition: all 0.3s ease;
}
.project__icon {
   width: 50%;
   height: 50%;
   color: #fff;
}
.project__content {
   padding: 0.5rem;
   width: 100%;
   position: relative;
   flex-direction: column;
}

.project__content h4 {
   margin-top: 1rem;
   line-height: 1.5;
}
.p-text {
   font-size: 0.8rem;
   text-align: left;
   color: gray;
   line-height: 1.5;
}
.bold-text {
   font-size: 1rem;
   font-weight: 800;
   color: black;
   text-align: left;
}
.project__tag {
   position: absolute;
   left: 10%;
   padding: 0.5rem 1rem;
   border-radius: 10px;
   background-color: #fff;
   top: -25px;
}

@media screen and (min-width: 300px) {
   .project__item {
      width: 100%;
      margin: 1rem;
   }
}
@media screen and (min-width: 2000px) {
   .projects__filter__item {
      padding: 1rem 2rem;
      border-radius: 0.85rem;
   }

   .project__item {
      width: 470px;
      padding: 1.25rem;
      border-radius: 0.75rem;
   }

   .project__img {
      height: 350px;
   }
}
/*---------------Interest--------------*/

.interest__main {
   width: 100vw;
   height: auto;
}
.interest__heading {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 5rem;
}
.interest__heading__text {
   font-size: 30px;
   color: #eb6b40;
}
.interest__paragraph {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 5px;
}
.interest__paragraph__text {
   font-size: larger;
   color: gray;
}
.interest__content {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 2rem;
   margin-left: 5rem;
   margin-right: 5rem;
   padding: 2rem;
   gap: 2rem;
}
.interest__card {
   max-width: 25vmax;
   background-color: rgba(128, 128, 128, 0.057);
   padding: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.interest__icon {
   margin-top: 2rem;
   width: 70px;
   height: 70px;
}
.interest__icon img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.interest__item__heading {
   margin-top: 3.5rem;
}
.interest__description {
   margin-top: 2rem;
}

@media only screen and (max-width: 480px) {
   .interest__content {
      padding: 0rem;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 3rem;
   }
   .interest__card {
      max-width: 75vw;
      padding-left: 3rem;
      padding-right: 3rem;
   }
   .interest__paragraph__text p {
      font-size: 0.5rem;
   }
   .interest__paragraph {
      padding: 2rem;
      text-align: center;
   }
}
/*-------------Footer------------*/

.footer__main {
   width: 100vw;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding: 3rem;
   gap: 2rem;
   background-color: #eb6b40;
}
.footer__logos {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.footer__logo__container {
   width: 17vh;
   height: 17vh;

   border-radius: 50%;
}
.footer__logo__container img {
   width: 100%;
   object-fit: cover;
   height: 100%;
   border-radius: 50%;
}
.footer__media__icons {
   margin-top: 2rem;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: 1rem;
}

.footer__linkedin {
   transition: all 1s ease;
   color: black;
}
.footer__linkedin a {
   text-decoration: none;
   color: #000;
}
.footer__linkedin:hover {
   color: #fff;
   scale: 1.3;
}
.footer__whatsapp {
   transition: all 1s ease;
}

.footer__whatsapp:hover {
   color: #fff;
   scale: 1.3;
}
.footer__github {
   transition: all 1s ease;
}
.footer__github:hover {
   color: #fff;
   scale: 1.3;
}
.footer__instagram {
   transition: all 1s ease;
}

.footer__instagram:hover {
   color: #fff;
   scale: 1.3;
}
.footer__navigation__buttons {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1.3rem;
   margin-top: 0.8rem;
}

.copyright {
   padding: 1rem;
   border-top: 2px solid #f2a185;
   background-color: #eb6b40;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: Arial, Helvetica, sans-serif;
}
.footer__navitems {
   text-decoration: none;
   color: #000;
   font-family: Arial, Helvetica, sans-serif;
}
.footer__navitems:hover {
   color: #fff;
}
.footer__links__container {
   margin-top: 0.8rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: left;
   gap: 0.8rem;
}
.footer__a__links {
   text-decoration: none;
   color: #000;
}
.footer__a__links:hover {
   color: #fff;
}
.footer__personal__info {
   display: flex;
   flex-direction: column;
   gap: 1.2rem;
}
.footer__info {
   display: flex;
   flex-direction: column;
   gap: 1.3rem;
}
.footer__personal__info h3 {
   font-weight: normal;
}

@media screen and (max-width: 480px) {
   .footer__navigation {
      display: none;
   }
   .footer__usefullinks {
      display: none;
   }
   .footer__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   .footer__personal__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .footer__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .footer__email {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 0.9rem;
   }
}
