* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html,
body {
   overflow-x: hidden;
}
.header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   max-height: 4.8rem;
   background-color: white;
   padding: 10px 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   z-index: 99999;
}
.header__image {
   cursor: pointer;
}
.header img {
   height: 4rem;
   /* cursor: pointer; */
}
nav {
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav__items__container {
   margin-right: 1.6rem;
}

.nav__items:hover {
   color: black;
   font-size: 1.2rem;
}
.nav__items {
   color: #eb6b40;
   transition: 1s;
   text-decoration: none;
   font-size: 1.5rem;
}
.outlet__container {
   flex-grow: 1;
}
.nav__dropdown__button {
   display: none;
}
@media only screen and (max-width: 480px) {
   .nav__items__container {
      display: none;
   }
   .nav__admin__button {
      display: none;
   }

   .nav__dropdown__button {
      display: flex;
   }
}

.nav__dropdown {
   position: fixed;
   z-index: 99999;
   top: 4.8rem;
   margin-bottom: 2rem;
}
.nav__dropdown__item {
   position: relative;
   width: 100vw;
   height: 4rem;
   background-color: #ffffff;
   z-index: 99999;
   display: flex;
   align-items: center;
   justify-content: center;
   border-bottom: 1px solid #eb6b40;
}
.nav__admin__button {
   cursor: pointer;
}
/*------------------Home-------------------*/
.home__main {
   margin-top: 4rem;
   width: 100vw;
   height: auto;
}
.hero__main {
   width: 100vw;
   margin-top: 13%;
   margin-bottom: 9%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}

.hero__information {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}
.hero__image__container img {
   width: 30vw;
   height: 30rem;

   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   margin-right: 9rem;
   border-radius: 50%;
}

.hero__information h1 {
   font-size: 4rem;
   margin-left: 7vw;
}
.hero__information__name {
   color: #eb6b40;
}
.hero__information button {
   width: fit-content;
   padding: 1rem;
   padding-left: 2rem;
   padding-right: 2rem;
   background-color: #eb6b40;
   color: black;
   font-size: large;
   font-weight: bolder;
   margin-left: 6.5rem;
   margin-top: 4rem;
   cursor: pointer;
   border-radius: 7px;
   border: none;
   transition: 0.5s;
}
.hero__information h3 {
   text-align: right;
   font-size: 2rem;
}
.hero__information button:focus {
   scale: 0.9;
   color: white;
}

/* --------------media queires for hero-------------------------*/

@media only screen and (max-width: 480px) {
   .hero__main {
      display: flex;
      flex-direction: column;
      margin-bottom: -3rem;
   }
   .hero__information {
      padding: 0;
      margin: 0;
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   .hero__information h1 {
      font-size: 2.4rem;
      line-height: 1.3;
      margin-left: 3rem;
      margin-right: 1.5vmax;
   }
   .hero__information h3 {
      line-height: 3;
      font-size: 1.3rem;
      text-align: left;
      margin-left: 3rem;
   }

   .hero__information button {
      margin-top: 2rem;
      margin-left: 35%;
      margin-bottom: 2rem;
   }
   .hero__image__container {
      margin-top: 2rem;
      width: 40%;
      height: 25vmax;
   }
   .hero__image__container img {
      width: 100%;
      height: 100%;
   }
}
@media screen and (min-width: 320px) and (max-width: 900px) and (orientation: landscape) {
   .hero__image__container {
      display: none;
   }
}
/* --------------------About----------------------*/

.about__main {
   width: 100vw;
   background-color: #eb6b4021;
   padding-top: 0.1rem;
   padding-bottom: 0.1rem;
}
.about__heading__container {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 3rem;
}
.about__heading__icon {
   margin-right: 2vw;
}
.about__heading__content {
   font-size: 30px;
}

.about__information__container {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   margin-top: 5rem;
   margin-bottom: 7rem;
}
.about__image__container {
   display: flex;
   align-items: center;
   justify-content: center;
}
.about__image__card {
   width: 22rem;
   height: 25em;

   margin-left: 10vw;
   box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.6), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 12px;
}

.about__image__card img {
   width: 100%;
   height: 100%;
   object-fit: fill;
   border-radius: 12px;
}

.about__description__container {
   width: 30%;
   margin-right: 10vw;
}
.about__description__container h2 {
   line-height: 1;
   font-size: 30px;
}
.about__description__container h3 {
   margin-top: 20px;
}
.about__description__container p {
   margin-top: 20px;
   font-family: Arial, Helvetica, sans-serif;
}
.about__description__info {
   line-height: 1;
}
.about__description__container button {
   width: fit-content;
   padding: 1rem;
   border-radius: 7px;
   cursor: pointer;
   background-color: #eb6b40;
   border: none;
   color: black;
   font-size: large;
   font-weight: bolder;
   margin-top: 3vh;
}

@media only screen and (max-width: 480px) {
   .about__main {
      display: flex;
      flex-direction: column;
      margin-top: 170px;
      align-items: center;
   }
   .about__information__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 1rem;
      padding-right: 1rem;
      gap: 3rem;
      margin-bottom: 3rem;
   }
   .about__image__container {
      width: 70vw;
   }
   .about__image__card {
      margin-left: 0;
   }
   .about__description__container {
      width: 70%;
      margin-right: 0;
   }
   .about__description__button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
   }
}
@media screen and (min-width: 320px) and (max-width: 900px) and (orientation: landscape) {
   .about__main {
      padding-top: 2rem;
      padding-bottom: 2rem;
   }
   .about__information__container {
      gap: 2rem;
   }
}

/*------------------ Projects --------------*/
.projects__main {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   flex: 1;
   width: 100%;
   flex-direction: column;
   height: auto;
   margin-top: 2%;
}
.projects__heading {
   color: #eb6b40;
}
.project__filter {
   color: #eb6b40;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap-reverse;
   margin: 2rem 0 2rem;
}
.projects__filter__item {
   padding: 0.5rem 1rem;
   border-radius: 0.5rem;
   background-color: #eb6b40;
   color: #fff;
   font-weight: 800;
   cursor: pointer;
   transition: all 0.3s ease;
   margin: 0.5rem;
}
.projects__filter__item:hover {
   background-color: #000;
}
.item-active {
   background-color: #000;
   color: #fff;
}

.project__flex {
   display: flex;
   align-items: center;
   justify-content: center;
}
.work__portfolio {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}
.work__item {
   width: 270px;
   flex-direction: column;
   margin: 1rem;
   padding: 1rem;
   cursor: pointer;
   border-radius: 0.5rem;
   background-color: #eb6b400c;
   color: #000;
   transition: all 0.3s ease;
}
.work__item:hover {
   box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.work__img {
   width: 100%;
   height: 230px;
   position: relative;
}
.work__img img {
   width: 100%;
   height: 100%;
   border-radius: 0.5rem;
   object-fit: cover;
}
.work__hover {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);

   border-radius: 0.5rem;
   opacity: 0;
   transition: all 0.3 ease;
}
.work__hover div {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: rgba(0, 0, 0, 0.5);
   color: #fff;
   margin: 1rem;
   font-weight: 800;
   cursor: pointer;
   transition: all 0.3s ease;
}
.project__icon {
   width: 50%;
   height: 50%;
   color: #fff;
}
.project__content {
   padding: 0.5rem;
   width: 100%;
   position: relative;
   flex-direction: column;
}

.project__content h4 {
   margin-top: 1rem;
   line-height: 1.5;
}
.p-text {
   font-size: 0.8rem;
   text-align: left;
   color: gray;
   line-height: 1.5;
}
.bold-text {
   font-size: 1rem;
   font-weight: 800;
   color: black;
   text-align: left;
}
.project__tag {
   position: absolute;
   left: 10%;
   padding: 0.5rem 1rem;
   border-radius: 10px;
   background-color: #fff;
   top: -25px;
}

@media screen and (min-width: 300px) {
   .project__item {
      width: 100%;
      margin: 1rem;
   }
}
@media screen and (min-width: 2000px) {
   .projects__filter__item {
      padding: 1rem 2rem;
      border-radius: 0.85rem;
   }

   .project__item {
      width: 470px;
      padding: 1.25rem;
      border-radius: 0.75rem;
   }

   .project__img {
      height: 350px;
   }
}
/*---------------Interest--------------*/

.interest__main {
   width: 100vw;
   height: auto;
}
.interest__heading {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 5rem;
}
.interest__heading__text {
   font-size: 30px;
   color: #eb6b40;
}
.interest__paragraph {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 5px;
}
.interest__paragraph__text {
   font-size: larger;
   color: gray;
}
.interest__content {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 2rem;
   margin-left: 5rem;
   margin-right: 5rem;
   padding: 2rem;
   gap: 2rem;
}
.interest__card {
   max-width: 25vmax;
   background-color: rgba(128, 128, 128, 0.057);
   padding: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.interest__icon {
   margin-top: 2rem;
   width: 70px;
   height: 70px;
}
.interest__icon img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.interest__item__heading {
   margin-top: 3.5rem;
}
.interest__description {
   margin-top: 2rem;
}

@media only screen and (max-width: 480px) {
   .interest__content {
      padding: 0rem;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 3rem;
   }
   .interest__card {
      max-width: 75vw;
      padding-left: 3rem;
      padding-right: 3rem;
   }
   .interest__paragraph__text p {
      font-size: 0.5rem;
   }
   .interest__paragraph {
      padding: 2rem;
      text-align: center;
   }
}
/*-------------Footer------------*/

.footer__main {
   width: 100vw;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding: 3rem;
   gap: 2rem;
   background-color: #eb6b40;
}
.footer__logos {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.footer__logo__container {
   width: 17vh;
   height: 17vh;

   border-radius: 50%;
}
.footer__logo__container img {
   width: 100%;
   object-fit: cover;
   height: 100%;
   border-radius: 50%;
}
.footer__media__icons {
   margin-top: 2rem;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: 1rem;
}

.footer__linkedin {
   transition: all 1s ease;
   color: black;
}
.footer__linkedin:hover {
   scale: 1.3;
}
.footer__linkedin a {
   text-decoration: none;
   color: #000;
}
.footer__linkedin a:hover {
   color: #fff;
   scale: 1.3;
}
.footer__whatsapp {
   transition: all 1s ease;
   cursor: pointer;
}

.footer__whatsapp:hover {
   color: #fff;
   scale: 1.3;
}
.footer__github {
   transition: all 1s ease;
   cursor: pointer;
}
.footer__github:hover {
   color: #fff;
   scale: 1.3;
}
.footer__instagram {
   transition: all 1s ease;
   cursor: pointer;
}

.footer__instagram:hover {
   color: #fff;
   scale: 1.3;
}
.footer__navigation__buttons {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1.3rem;
   margin-top: 0.8rem;
}

.copyright {
   padding: 1rem;
   border-top: 2px solid #f2a185;
   background-color: #eb6b40;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: Arial, Helvetica, sans-serif;
}
.footer__navitems {
   text-decoration: none;
   color: #000;
   font-family: Arial, Helvetica, sans-serif;
}
.footer__navitems:hover {
   color: #fff;
}
.footer__links__container {
   margin-top: 0.8rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: left;
   gap: 0.8rem;
}
.footer__a__links {
   text-decoration: none;
   color: #000;
}
.footer__a__links:hover {
   color: #fff;
}
.footer__personal__info {
   display: flex;
   flex-direction: column;
   gap: 1.2rem;
}
.footer__info {
   display: flex;
   flex-direction: column;
   gap: 1.3rem;
}
.footer__personal__info h3 {
   font-weight: normal;
}

@media screen and (max-width: 480px) {
   .footer__navigation {
      display: none;
   }
   .footer__usefullinks {
      display: none;
   }
   .footer__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   .footer__personal__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .footer__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .footer__email {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 0.9rem;
   }
}

/* ---------------About Page----------------*/

.about__page__main {
   margin-top: 4.8rem;
   width: 100vw;
   height: auto;
}
.parallel_image {
   position: fixed;
   top: 0;
   z-index: -1;
   width: 100vw;
   height: 100vmax;
}
.parallel_image img {
   width: 100%;
   height: 100%;
}
/*-----------About page hero --------------*/

.about__hero__main {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-wrap: wrap;
   padding: 2rem;
   margin-top: 12%;
   margin-bottom: 12%;
   background-color: #0000000f;
}
.about__hero__text__container {
   width: 40%;
   padding: 0.5rem;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   gap: 2rem;
}
.about__hero__text__container h1 {
   font-size: 3.5rem;
   color: wheat;
}
.about__hero__text__container p {
   font-size: 1.5rem;
   color: wheat;
   font-family: Arial, Helvetica, sans-serif;
}
.about__hero__button__container {
   margin-top: 2rem;
}
.about__hero__button__container button {
   width: fit-content;
   border-radius: 8px;
   font-size: 1rem;
   cursor: pointer;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   border: none;
   padding: 1rem;
   background-color: #eb6b40;
   color: black;
}
.about__hero__button__container button:hover {
   scale: 0.9;
   color: white;
}
.about__hero__image__container {
   padding: 0.5rem;
   width: 40%;
}
.about__hero__image__container img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

@media only screen and (max-width: 480px) {
   .about__hero__main {
      display: flex;
      flex-direction: column;
      padding: 0;
   }
   .about__hero__text__container {
      width: fit-content;
      margin-top: 4rem;
      padding: 2rem;
   }
   .about__hero__text__container h1 {
      font-size: 2.5rem;
   }
   .about__hero__paragraph__container {
      width: fit-content;
   }
   .about__hero__image__container {
      width: 70vw;
   }
   .about__hero__button__container button:hover {
      scale: 1;
      color: #000;
   }
}
.hello {
   width: 100vw;
   height: 200px;
   background-color: white;
}
/* ------------ personal info------------*/
.about__personal__main {
   background-color: white;
   padding: 2rem;
   border-bottom: 1px solid black;
}
.about__personal__heading__container {
   padding: 0.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
}
.about__personal__heading {
   text-decoration: underline;
   text-align: center;
   color: #eb6b40;
   font-size: 3rem;
}
.about__personal__info__container {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
   margin-top: 3rem;
   /* flex */
}
.about__personal__content__container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* align-items: center; */
   gap: 1.5rem;
}
.about__personal__content__container h3 {
   font-size: 2rem;
   text-align: left;
   color: #eb6b40;
}

.about__personal__content__container p {
   /* font-family: Arial, Helvetica, sans-serif; */
   overflow-wrap: break-word;
}
.about__personal__content__row {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   gap: 2rem;
}
.about__personal__content__rows {
   line-height: 2;
   font-size: 1.3rem;
}
.about__personal__content__rows strong {
   color: #eb6b40;
}
.about__personal__cards__container {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-top: 5rem;
   gap: 2rem;
   align-items: center;
   margin-bottom: 2rem;
}
.about__personal__card {
   /* border: 1px solid #eb6b40; */
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
   width: fit-content;
   padding: 2rem;
   font-size: 1.4rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.about__persoanl__card__number {
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.about__personal__card__sign {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.2rem;
}
.counter {
   text-align: center;
   font-size: xx-large;
}

@media only screen and (max-width: 480px) {
   .about__personal__main {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
   }
   .about__personal__info__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   .about__hero__image__container {
      width: 100%;
      height: 30vh;
      margin-bottom: 1rem;
   }
   .about__personal__content__container h3 {
      margin-left: 2rem;
   }
   .about__personal__content__container {
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .about__personal__content__row {
      display: flex;
      width: 80%;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      gap: 0;
   }
   .about__personal__content__rows {
      margin-left: 10%;
   }
   .about__personal__card {
      border: 0;
      box-shadow: none;
      border-bottom: 1px solid #eb6b40;
   }
}
/*--------------about Skills ----------------*/
.about__skills__main {
   background-color: white;
   padding: 2rem;
}
.about__skills__container {
   display: flex;
   justify-content: center;
   align-items: center;
   color: #eb6b40;
   font-size: 2rem;
}

.about_skills__content__container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 6rem;
   padding-left: 15%;
   padding-right: 15%;
   margin-top: 3rem;
   margin-bottom: 3rem;
   /* background-color: red; */
}
/*-----------------about education------------*/
.about__education__main {
   background-color: #eb6b4021;
}
.about__education__heading__container {
   color: #eb6b40;
   font-size: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 2rem 0;
}

@media only screen and (max-width: 480px) {
   .about__education__heading__container {
      font-size: 1rem;
   }
   .about__education__heading__container h1 {
      text-align: center;
   }
}
.date__color {
   color: #eb6b40;
   font-weight: bolder;
}

/*------------------------------------Contact Page----------------*/

.contact__form__main {
   width: 100vw;
   /* height: 100vh; */
   margin-top: 5rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.contact__flex {
   display: flex;
   align-items: center;
   justify-content: center;
}
.contact__cards {
   width: 60%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
   margin: 4rem 2rem 2rem;
}

.contact__card {
   min-width: 290px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: 1rem 0;
   padding: 1rem;
   gap: 1rem;
   border-radius: 10px;
   cursor: pointer;
   background-color: #f5dddf;
   transition: all 0.3 ease-in-out;
   text-align: center;
   overflow: hidden;
}
.contact__card__icon {
   width: 40px;
   height: 40px;
   margin: 0 0.7rem;
}
.contact__card p {
   font-weight: 500;
}
.contact__card a {
   text-decoration: none;
   font-weight: 500;
}

.contact__card:hover {
   box-shadow: 0 0 25px #fef4f5;
}

@media screen and (max-width: 450px) {
   .contact__form__main {
      padding: 1rem;
   }
   .contact__card a {
      width: 100%;
      font-size: 1rem;
   }
   /* .contact__card p {
      text-align: center;
   } */
}
@media screen and (max-width: 450px) {
   .contact__cards {
      width: 100%;
   }
}

.contact__cards .contact__card:last-child {
   background-color: #f2f7fb;
}
.contact__cards .contact__card:last-child:hover {
   box-shadow: 0 0 25px #f2f7fb;
}

.contact__form {
   width: 60%;
   flex-direction: column;
   margin: 1rem 2rem;
}

.contact__form div {
   width: 100%;
   margin: 0.75rem 0;
   border-radius: 10px;
   cursor: pointer;
   background-color: white;
   transition: all 0.3s ease-in-out;
   box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.contact__form input,
textarea {
   width: 100%;
   padding: 0.95rem;
   border: none;
   border-radius: 7px;

   background-color: white;
   font-family: Arial, Helvetica, sans-serif;
   color: #eb6b40;
   outline: none;
}
.contact__form textarea {
   height: 270px;
}
.contact__form:hover {
   box-shadow: 0 0 25px #f2f7fb;
}

.contact__form button {
   padding: 1rem 2rem;
   border-radius: 10px;
   border: none;
   background-color: #eb6b40;
   font-weight: 500;
   color: black;
   outline: none;
   margin: 2rem 0 0 0;
   font-family: Arial, Helvetica, sans-serif;
   transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
   cursor: pointer;
   /* transition: all 0.5 ease; */
}
.contact__form button:hover {
   /* background-color: #2430af; */
   color: white;
   /* scale: 0.9; */
}
@media screen and (max-width: 768px) {
   .contact__form {
      width: 100%;
      margin: 1rem 0;
   }
   .contact__card {
      font-size: 1rem;
   }
   .contact__form input {
      font-size: 1.1rem;
   }
   .contact__form textarea {
      height: 200px;
      font-size: 1.1rem;
   }
   .contact__form button {
      font-size: 1.1rem;
   }
}
.head-text {
   font-size: 2.75rem;
   font-weight: 800;
   text-align: center;
   color: #eb6b40;
   text-transform: capitalize;
}
.p-text {
   font-size: 0.8rem;
   text-align: left;
   color: gray;
   line-height: 1.5;
}
@media screen and (max-width: 450px) {
   .head-text {
      font-size: 2rem;
   }
   .p-text {
      font-size: 1.75rem;
      text-align: center;
   }
}

/*-------------------Blogs-------------------*/
.blogs__main {
   width: 100vw;
   height: auto;
   padding: 2rem;
   margin-top: 7rem;
}
.blogs__heading__container {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 2rem;
   color: #eb6b40;
}
.blogs__cards__container {
   margin-top: 3rem;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-wrap: wrap;
   gap: 5rem;
}
.blog__card {
   width: 100%;
   max-width: 300px;
   background-color: #fff;
   color: #333;
   border-radius: 10px;
   box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   overflow: hidden;
   transition: transfomr 0.3s ease-in-out;
   position: relative;
}
.blog__card::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   /* background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)); */

   background-size: cover;
   background-blend-mode: overlay;
   z-index: 1;
}
.blog__card:hover {
   transform: scale(1.05);
}
.blog__card img {
   width: 100%;
   max-width: 300px;
   max-height: 120px;
   object-fit: cover;
   filter: brightness(70%);
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   transition: filter 0.3s ease-in-out;
}
.blog__card:hover {
   cursor: pointer;
}
.blog__card:hover img {
   filter: brightness(100%);
}
.blog__card__content {
   padding: 15px;
   position: relative;
   z-index: 2;
}
.blog__card__title {
   font-size: 1.2rem;
   margin-bottom: 10px;
   color: #eb6b40;
   line-height: 1.4;
}
.blog__card__description {
   font-size: 1rem;
   color: #333;
   opacity: 0;
   height: 0;
   overflow: hidden;
   transition: heigth 1s ease, opacity 0.3s ease-in-out;
}
.blog__card:hover .blog__card__description {
   opacity: 1;
   height: auto;
   margin-top: 10px;
}
.read-more {
   display: inline-block;
   background: #eb6b40;
   padding: 8px 16px;
   margin-top: 10px;
   border-radius: 5px;
   text-decoration: none;
   color: black;
   transition: background 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
   .blog__card p {
      display: none;
   }
   .login__modal {
      left: -20%;
   }
}
.error {
   /* margin-top: 200px; */
   color: #000;
}
.admin__main {
   display: flex;
   width: 100vw;
   height: auto;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 4rem;
}

.admin__change__userInfo {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 100vw;
}
.form__main {
   display: flex;
   flex-wrap: wrap;
}
/*
.form__input {
   width: 100%;
   padding: 8px;
   margin-top: 4px;
   box-sizing: border-box;
}

/* Adjust the layout for larger screens 
@media (min-width: 768px) {
   .form__main {
      flex-wrap: nowrap;
      justify-content: space-between;
   }

   .form__input {
      width: calc(
         33.33% - 8px
      ); /* Adjust the width based on the number of columns you want 
   }
}

.form__button {
   background-color: #007bff;
   color: #fff;
   padding: 10px;
   border: none;
   cursor: pointer;
   font-size: 16px;
   margin-top: 20px;
}

.form__button:hover {
   background-color: #0056b3;
}*/
/* ResponsiveForm.css */
/* 
.form__flex {
   flex: 1 1 100%;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   /* justify-content: center; 
}

.form__input {
   width: 100%;
   padding: 8px;
   box-sizing: border-box;
}

.form__button {
   width: 100%;
   padding: 12px;
   background-color: #4caf50;
   color: #fff;
   border: none;
   cursor: pointer;
}

@media (min-width: 768px) {
   .form__flex {
      flex: 1 1 calc(33.33% - 16px);
   }
} */

/* ResponsiveForm.css */
/* ResponsiveForm.css */
.admin__flex {
   display: flex;
   align-content: center;
   justify-content: center;
   flex-direction: column;
}
.admin__add__project {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.form__main {
   display: flex;
   flex-wrap: wrap;
   gap: 16px;
   width: 60%; /* Adjust the width as needed */
   margin: 1rem 2rem; /* Adjust the margin as needed */
}

.form__flex {
   flex: 1 1 100%;
   /* /width: 100%; */
   margin: 0.75rem 0;
   border-radius: 10px;
   cursor: pointer;
   background-color: white;
   transition: all 0.3s ease-in-out;
   /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; */
}

.form__input {
   width: 100%;
   /* width: 270px; */
   padding: 0.95rem;
   border: none;
   border-radius: 7px;
   background-color: white;
   font-family: Arial, Helvetica, sans-serif;
   color: #eb6b40;
   outline: none;
}

.form__input textarea {
   height: 270px;
}

.form__button {
   padding: 1rem 2rem;
   border-radius: 10px;
   border: none;
   background-color: #eb6b40;
   font-weight: 500;
   color: black;
   outline: none;
   margin: 2rem 0 0 0;
   font-family: Arial, Helvetica, sans-serif;
   transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
   cursor: pointer;
}

.form__button:hover {
   color: white;
}

@media screen and (max-width: 768px) {
   .form__main {
      width: 100%;
      margin: 1rem 0;
   }
   .form__flex {
      font-size: 1rem;
   }
   .form__input {
      font-size: 1.1rem;
   }
   .form__input textarea {
      height: 200px;
      font-size: 1.1rem;
   }
   .form__button {
      font-size: 1.1rem;
   }
}
.update__form {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10rem;
}
/* 
.blog__page__header {
   width: 100vw;
   height: 50%;
} */

.blog__header {
   padding: 30px;
   font-size: 40px;
   text-align: center;
   background-color: white;
}

.leftcolumn {
   float: left;
   width: 75%;
}
.rightcolumn {
   float: left;
   width: 25%;
}

.blog__image {
   background-color: #aaa;
   width: 100%;
   padding: 20px;
}
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}
.row::after {
   content: "";
   display: table;
   clear: both;
}
@media screen and (max-width: 800px) {
   .leftcolumn,
   .rightcolumn {
      width: 100%;
      padding: 0;
   }
}

.blog__container {
   display: flex;
   flex-wrap: wrap;
   max-width: 1200px;
   width: 100%;
   margin: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   border-radius: 8px;
   background-color: #fff;
}

.left-side {
   flex: 100%;
   padding: 20px;
   border-right: 1px solid #ddd;
   box-sizing: border-box;
}

.right-side {
   flex: 100%;
   padding: 20px;
   box-sizing: border-box;
}

.blog__header {
   background-color: #333;
   color: #fff;
   padding: 20px;
   text-align: center;
   border-bottom: 1px solid #555;
}

.blog-post {
   padding-bottom: 20px;
   margin-bottom: 20px;
   border-bottom: 1px solid #ddd;
}

.blog-post img {
   width: 100%;
   height: auto;
   border-radius: 8px;
   margin-bottom: 20px;
}

.author-info,
.tags {
   background-color: #f5f5f5;
   border-radius: 8px;
   margin-bottom: 20px;
   padding: 20px;
}

.tags .tag-card {
   background-color: #ddd;
   padding: 10px;
   margin-bottom: 10px;
   display: inline-block;
   margin-right: 10px;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s;
}

.tags .tag-card:hover {
   background-color: #bbb;
}

.author-info img {
   border-radius: 50%;
   margin-bottom: 10px;
}

@media (min-width: 768px) {
   .left-side {
      flex: 2;
   }

   .right-side {
      flex: 1;
   }
}
